/target
### https://raw.github.com/github/gitignore/991e760c1c6d50fdda246e0178b9c58b06770b90/Global/VisualStudioCode.gitignore

.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/


